@font-face {
  font-family: "table-selector-iconfont";
  src: url("iconfont.woff2?t=1653565339547") format("woff2"),
    url("iconfont.woff?t=1653565339547") format("woff"),
    url("iconfont.ttf?t=1653565339547") format("truetype");
}

.table-selector-iconfont {
  font-family: "table-selector-iconfont" !important;
  font-style: normal;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-selector-icon-close:before {
  content: "\e668";
}

.table-selector-icon-search:before {
  content: "\e67d";
}

.table-selector-icon-left:before {
  content: "\e685";
}

.table-selector-icon-right:before {
  content: "\e687";
}
