@import "@/iconfont/index.css";
@import "@/element/icon.css";

$class-prefix: "table-selector";
$wrapper-bg-color: #000;
$wrapper-opacity: 0.3;
$dialog-bg-color: #fff;
$dialog-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
$pm-x: 16px;
$pm-y: 8px;
$primary-color: #ca1d22;
$primary-bg-color: #fef6f6;
$border-color: #e0e0e0;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{$class-prefix}-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: $wrapper-opacity;
  background-color: $wrapper-bg-color;
  z-index: 9999;

  /*
  &-enter {
    animation: wrapper-in 0.2s ease forwards;
  }

  &-leave {
    animation: wrapper-out 0.2s ease forwards;
  }
  */
}

.#{$class-prefix}-dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 10000;
  pointer-events: none;
}

.#{$class-prefix}-dialog {
  font-family: MicrosoftYaHei;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 15vh auto auto;
  box-sizing: border-box;
  background-color: $dialog-bg-color;
  box-shadow: $dialog-shadow;
  pointer-events: auto;

  /*
  &-enter {
    animation: dialog-in 0.3s forwards;
  }

  &-leave {
    animation: dialog-out 0.3s forwards;
  }
  */
}

.#{$class-prefix}-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 $pm-x;
  box-sizing: border-box;
  border-bottom: 1px solid $border-color;

  &-title {
    font-size: 14px;
  }

  &-close-btn {
    font-size: 24px;
    color: #999999;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }
}

.#{$class-prefix}-search {
  display: flex;
  align-items: center;
  padding: $pm-x $pm-x $pm-y;

  $border-color: #bbbbbb;
  $border: 1px solid $border-color;
  $border-radius: 4px;
  $height: 28px;

  &-keyword {
    font-size: 12px;
    height: $height;
    width: calc(280px - $height);
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: $border-radius;
    border: $border;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-btn {
    @include center;
    height: $height;
    width: $height;
    color: $border-color;
    background-color: #f7f7f7;
    box-sizing: border-box;
    border-radius: $border-radius;
    border: $border;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }
}

.#{$class-prefix}-body {
  display: flex;
  flex: 1;
  height: 0;
  margin: 0 $pm-x;
}

.#{$class-prefix}-table {
  font-size: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;

  $hover-bg-color: #f3f5f7;

  &:not(:last-child) {
    margin-right: $pm-y;
  }

  &-header {
    position: sticky;
    top: 0;
    background-color: $hover-bg-color;
  }

  &-header > &-cell {
    border-top: 1px solid $border-color;
    font-weight: bold;
  }

  &-row {
    &:hover {
      background-color: $hover-bg-color;
    }

    &-selected {
      background-color: $primary-bg-color;
    }
  }

  &-header,
  &-row {
    display: flex;
    flex-shrink: 0;
  }

  &-cell {
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    > span {
      @include ellipsis;
    }

    &:first-child {
      border-left: 1px solid $border-color;
    }
  }

  &-empty {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid $border-color;
    border-top: none;
    position: sticky;
    bottom: 0;
    margin-top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
      font-size: 12px;
      color: #666;
    }
  }
}

.#{$class-prefix}-selected-label {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &-clear-btn {
    font-weight: normal;
    cursor: pointer;
    color: #1585ff;
  }
}

.#{$class-prefix}-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $pm-x;
}

.#{$class-prefix}-pagination {
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #333333;

  $size: 22px;

  &-total {
    display: inline-block;
    line-height: $size;
    margin-right: 10px;
  }

  &-num {
    @include center;
    height: $size;
    width: $size;
    border-radius: 4px;
    cursor: pointer;

    &-current {
      background-color: #f6f6f6;
      color: $primary-color;
      cursor: none;
      pointer-events: none;
    }
  }

  &-up-btn,
  &-down-btn {
    @include center;
    height: $size;
    width: $size;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }

  &-up-btn {
    margin-right: 10px;
  }

  &-down-btn {
    margin-left: 10px;
  }

  &-btn-disabled {
    cursor: none;
    pointer-events: none;
    color: #999;
  }

  &-left::before,
  &-right::before {
    content: "\e794";
  }

  &-left:hover,
  &-right:hover {
    color: #ca1d22;
  }

  &-left:hover::before {
    content: "\e6dd";
  }

  &-right:hover::before {
    content: "\e6dc";
  }
}

.#{$class-prefix}-action {
  display: flex;

  > div {
    @include center;
    font-size: 14px;
    height: 28px;
    width: 80px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
  }

  &-confirm-btn {
    background-color: $primary-color;
    color: #fff;
    margin-right: $pm-y;
  }

  &-cancel-btn {
    color: #666;
    border: 1px solid #d9d9d9;
  }
}

@keyframes wrapper-in {
  0% {
    opacity: 0;
  }
}

@keyframes wrapper-out {
  100% {
    opacity: 0;
  }
}

@keyframes dialog-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dialog-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
