@import "@/iconfont/index.css";

$class-prefix: "table-selector";
$wrapper-bg-color: #000;
$wrapper-opacity: 0.5;
$dialog-bg-color: #fff;
$dialog-shadow: 0 1px 3px rgb(0 0 0 / 30%);
$padding-x: 14px;
$padding-y: 10px;
$margin-x: 14px;
$margin-y: 10px;
$primary-color: #cf261c;
$btn-bg-color: rgba(207, 38, 28, 0.1);
$border-color: #eaeaea;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$class-prefix}-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: $wrapper-opacity;
  background-color: $wrapper-bg-color;

  &-enter {
    animation: wrapper-in 0.2s ease forwards;
  }

  &-leave {
    animation: wrapper-out 0.2s ease forwards;
  }
}

.#{$class-prefix}-dialog {
  margin: 15vh auto auto;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: $dialog-bg-color;
  box-shadow: $dialog-shadow;

  &-enter {
    animation: dialog-in 0.3s forwards;
  }

  &-leave {
    animation: dialog-out 0.3s forwards;
  }
}

.#{$class-prefix}-header {
  position: relative;
  padding: $padding-y $padding-x;
  border-bottom: 1px solid $border-color;

  &-title {
    font-size: 18px;
    line-height: 24px;
    color: #303133;
  }

  &-close-btn {
    font-size: 24px;
    color: #8a8a8a;
    position: absolute;
    top: 50%;
    right: $padding-x;
    transform: translate3d(0, -50%, 0);
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }
}

.#{$class-prefix}-search {
  display: flex;
  align-items: center;
  padding: $padding-y $padding-x;

  $border: 1px solid #dcdfe6;
  $border-radius: 4px;

  &-keyword {
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: $border-radius;
    border: $border;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-btn {
    height: 30px;
    width: 30px;
    color: #909399;
    background-color: #f5f7fa;
    @include center;
    box-sizing: border-box;
    border-radius: $border-radius;
    border: $border;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }
}

////////////////////////////////

.flow-select-transfer {
  padding: 0 10px;
}

// 动画

@keyframes wrapper-in {
  0% {
    opacity: 0;
  }
}

@keyframes wrapper-out {
  100% {
    opacity: 0;
  }
}

@keyframes dialog-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dialog-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
